* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	height: 100vh;
	background-color: black;
	font-family: sans-serif;
}

.score {
	color: white;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

fieldset {
	border-radius: 5%;
	width: 350px;
	border: 5px solid white;

}

.score legend {
	font-size: 20px;
	letter-spacing: 5px;
	text-align: center;
}

.score p {
	text-align: center;
	padding: 10px;
	font-size: 50px;
}

.intro {
	color: white;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/*opacity: 0;*/
	transition: opacity 0.5s ease;
}

.intro h1 {
	font-size: 50px;
}

.intro button,
.match button {
	width: 150px;
	height: 50px;
	background: none;
	border: none;
	color: black;
	font-size: 20px;
	background: yellow;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 20px;
}

.match {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.5s ease 0.5s;
}

.winner {
	color: blue;
	text-align: center;
	font-size: 30px;
	margin-top: 20px;

}

.hands, 
.options {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 50px;
}

.computer-hand {
	transform: rotateY(180deg);
}

div.fadeOut {
	opacity: 0;
	pointer-events: none;
}

div.fadeIn {
	opacity: 1;
	pointer-events: all;
}

img {
	width: 300px;
	/*margin-top: 1px;*/
	margin: 10px;
	
}

@keyframes shakeComputer {
	0% {
		transform: rotateY(180deg) translateY(0px);
	}
	15% {
		transform: rotateY(180deg) translateY(-50px);
	}
	25% {
		transform: rotateY(180deg) translateY(0px);
	}
	35% {
		transform: rotateY(180deg) translateY(-50px);
	}
	50% {
		transform: rotateY(180deg) translateY(0px);
	}
	65% {
		transform: rotateY(180deg) translateY(-50px);
	}
	75% {
		transform: rotateY(180deg) translateY(0px);
	}
	85% {
		transform: rotateY(180deg) translateY(-50px);
	}
	100% {
		transform: rotateY(180deg) translateY(0px);
	}
}

@keyframes shakePlayer{
	0% {
		transform: translateY(0px);
	}
	15% {
		transform: translateY(-50px);
	}
	25% {
		transform: translateY(0px);
	}
	35% {
		transform: translateY(-50px);
	}
	50% {
		transform: translateY(0px);
	}
	65% {
		transform: translateY(-50px);
	}
	75% {
		transform: translateY(0px);
	}
	85% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}

}